/**
 * Variables:
 */

// Colors:
$primary-color: #86C163;
$secondary-color: #3399cc;

$darken-primary-color: darken($primary-color, 15%);
$darken-secondary-color: darken($secondary-color, 15%);

$primary-dark: #212326;
$darken-primary-dark: darken($primary-dark, 10%);

$primary-light: #fff;
$secondary-light: darken($primary-light, 15%);

// Fonts:
$primary-font-stack: "Segoe UI", -apple-system, BlinkMacSystemFont, "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$emoji-font-stack: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Gthod's Styles:
@import "base/main.scss";
